@charset "UTF-8";
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
}

.header {
  background-color: #010101;
  height: 100vh;
}
.header__inner {
  width: min(93.75%, 2000px);
  margin-left: auto;
  margin-right: auto;
}
.header__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 610px) {
  .header__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
}
.header__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
@media screen and (min-width: 610px) {
  .header__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
}
@media screen and (min-width: 1000px) {
  .header__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
}
.header__title1 {
  color: white;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -0.04em;
  line-height: 1;
}
@media screen and (min-width: 420px) {
  .header__title1 {
    font-size: 4em;
  }
}
@media screen and (min-width: 610px) {
  .header__title1 {
    font-size: 6em;
  }
}
@media screen and (min-width: 1000px) {
  .header__title1 {
    font-size: 8em;
  }
}
.header__title2 {
  color: white;
  /* 文字色を白色(不透明)にする：IE用 */
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1;
}
@media screen and (min-width: 420px) {
  .header__title2 {
    font-size: 4em;
  }
}
@media screen and (min-width: 610px) {
  .header__title2 {
    font-size: 6em;
  }
}
@media screen and (min-width: 1000px) {
  .header__title2 {
    font-size: 8em;
  }
}
.header__title3 {
  color: white;
  /* 文字色を白色(不透明)にする：IE用 */
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1;
}
@media screen and (min-width: 420px) {
  .header__title3 {
    font-size: 4em;
  }
}
@media screen and (min-width: 610px) {
  .header__title3 {
    font-size: 6em;
  }
}
@media screen and (min-width: 1000px) {
  .header__title3 {
    font-size: 8em;
  }
}
.header__gnav {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/hamberger_bakg.png);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.header__gnav__list {
  z-index: 100;
}
.header__gnav span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #21AEAE;
  margin: 4px 0;
  transition: transform 0.3s ease;
}
.header .menu {
  position: fixed;
  top: 0px;
  right: -100%;
  /* Initially hide the menu off the screen */
  width: 200px;
  height: 100vh;
  background-color: #fefefe;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
  transition: right 0.3s ease;
}
.header .menu.active {
  right: 0;
}
.header .menu ul {
  padding: 0;
  margin-top: 22px;
}
.header .menu li {
  margin-bottom: 10px;
}
.header .menu a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
}
.header__line__list {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__line__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 100vh;
  }
}
.header__line1 {
  width: 100px;
  height: 500px;
  background-image: url(../images/main__about__img1.webp);
  background-position: -745px 850px;
  -webkit-background-clip: background;
  color: white;
  /* 文字色を白色(不透明)にする：IE用 */
  transform: skewX(-10deg);
}
.header__line2 {
  width: 100px;
  height: 500px;
  background-image: url(../images/main__about__img1.webp);
  background-position: -875px 850px;
  -webkit-background-clip: background;
  color: white;
  /* 文字色を白色(不透明)にする：IE用 */
  transform: skewX(-10deg);
}
.header__line3 {
  width: 100px;
  height: 500px;
  background-image: url(../images/main__about__img1.webp);
  background-position: -1005px 850px;
  -webkit-background-clip: background;
  color: white;
  /* 文字色を白色(不透明)にする：IE用 */
  transform: skewX(-10deg);
}
.header__back__img1 {
  display: block;
  top: 500px;
  left: 200px;
  width: 160px;
  height: 360px;
  position: absolute;
  background-image: url(../images/Group\ 39.png);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 999;
}
.header__back__img2 {
  display: block;
  top: 1400px;
  right: 200px;
  width: 160px;
  height: 360px;
  position: absolute;
  background-image: url(../images/Group\ 39.png);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 999;
}

.main__back {
  top: 0px;
  left: -1200px;
  background-color: #21AEAE;
  position: absolute;
  width: 54%;
  height: 150vh;
  transform: skewX(-10deg);
}
.main__1 {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #010101;
  height: 150vh;
}
.main__2 {
  width: 100%;
  background-color: #010101;
  height: 150vh;
}
.main__about {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 610px) {
  .main__about {
    top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
}
@media screen and (min-width: 610px) {
  .main__about__in {
    width: 50%;
  }
}
.main__about__in__img {
  position: absolute;
  top: 621px;
  left: -1100px;
  max-width: 500px;
  max-height: 500px;
  margin: 80px auto 50px auto;
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 610px) {
  .main__about__in__img {
    margin: 80px auto 50px auto;
    width: 40vw;
    height: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }
}
.main__about__text {
  top: 821px;
  width: 50%;
  position: absolute;
  margin-left: 3vw;
  left: 50%;
}
.main__about__text__title {
  font-size: 30px;
  color: #21AEAE;
  font-weight: normal;
  margin-bottom: 30px;
}
.main__about__text__title span {
  margin-left: 20px;
  font-size: 17px;
}
.main__about__text__1 {
  font-size: 24px;
  color: #fefefe;
  margin-bottom: 10px;
}
.main__about__text__2 {
  font-size: 24px;
  color: #fefefe;
  margin-bottom: 10px;
}
.main__about__text__3 {
  font-size: 24px;
  color: #fefefe;
  margin-bottom: 10px;
}
.main__about__title {
  position: absolute;
  font-size: 80px;
  color: #fefefe;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */