@charset "utf-8";

$color-bak: #010101;
$color-White: #fefefe;
$color-accent: #21AEAE;


$breakpoints: (
    "xmin": "screen and (min-width: 320px)",
    "min": "screen and (min-width: 300px)",
    "sm": "screen and (min-width: 420px)",
    "ss": "screen and (min-width: 610px)",
    "cnt": "screen and (min-width: 800px)",
    "cent":"screen and (min-width: 1000px)",
    "mp":"screen and (min-width: 1112px)",
    "mv":"screen and (min-width: 1266px)",
    "md": "screen and (min-width: 1366px)",
    "mm": "screen and (min-width: 1200px)",
    "ma": "screen and (min-width: 1400px)",
    ) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin inner($w: (1200/1280)*100%, $mw: 2000px) {
    width: min($w, $mw
    );
margin-left: auto;
margin-right: auto;
}

@mixin flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    cursor: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.cursor,
.follower {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    background-color: transparent;
    transition: width 0.3s ease, height 0.3s ease, border-width 0.3s ease, border-color 0.4s ease;
    ;
}

.follower.hover {
    border: 2px solid #21AEAE;
}

.follower.color-change {
    border: 2px solid #21AEAE;
}

.cursor.hover,
.follower.hover {
    position: fixed;
    width: 70px;
    height: 70px;
    border-width: 4px;
}

.header {
    background-color: $color-bak;
    height: 157vh;

    &__inner {
        @include inner();
    }

    &__flex {
        @include flex();

        @include mq(ss) {
            @include flex();
            width: 90%;
        }
    }

    &__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;

        @include mq(ss) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 100vh;
        }

        @include mq(cent) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 100vh;
        }
    }

    &__title1 {
        color: white;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
        letter-spacing: -0.04em;
        line-height: 1;

        @include mq(sm) {
            font-size: 4em;
        }

        @include mq(ss) {
            font-size: 6em;
        }

        @include mq(cent) {
            font-size: 8em;
        }

        &-n {
            letter-spacing: -2px;
        }

        &-a {
            letter-spacing: 4px;
        }
    }

    &__title2 {
        color: $color-White;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
        letter-spacing: -0.05em;
        line-height: 1;

        @include mq(sm) {
            font-size: 4em;
        }

        @include mq(ss) {
            font-size: 6em;
        }

        @include mq(cent) {
            font-size: 8em;
        }

        &-k {
            letter-spacing: 2px;
        }

        &-k2 {
            letter-spacing: 5px;
        }
    }

    &__title3 {
        color: white;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
        letter-spacing: -0.05em;
        line-height: 1;

        @include mq(sm) {
            font-size: 4em;
        }

        @include mq(ss) {
            font-size: 6em;
        }

        @include mq(cent) {
            font-size: 8em;
        }

        &-r {
            letter-spacing: -3px;
        }

        &-t {
            letter-spacing: -2px;
        }

        &-o1 {
            letter-spacing: -9px;
        }

        &-f {
            letter-spacing: -3px;
        }

        &-l {
            letter-spacing: 1px;
        }
    }

    &__gnav {
        position: fixed;
        top: 20px;
        right: 10px;
        z-index: 100;
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../images/hamberger_bakg.png);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @include mq(cent) {
            top: 20px;
            right: 20px;
        }

        &__list {
            z-index: 100;

            span {
                display: block;
                width: 30px;
                height: 4px;
                background-color: $color-accent;
                margin: 4px 0;
                transition: transform 0.3s ease, background-color 0.3s ease;
            }

            &.open span:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            &.open span:nth-child(2) {
                opacity: 0;
            }

            &.open span:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }


    &__menu {
        position: fixed;
        top: 0px;
        right: -100%;
        width: 200px;
        height: 100vh;
        background-color: $color-White;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 99;
        transition: right 0.3s ease;
    }

    &__menu.active {
        right: 0;
    }

    &__menu ul {
        padding: 0;
        margin-top: 22px;
    }

    &__menu li {
        margin-bottom: 10px;
    }

    &__menu a {
        color: #333;
        font-size: 18px;
        text-decoration: none;
        position: relative;
        padding-bottom: 5px;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        cursor: none;

        &::before {
            background: $color-accent;
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            margin: auto;
            transform-origin: right top;
            transform: scale(0, 1);
            transition: transform .3s;
        }

        &:hover::before {
            transform-origin: left top;
            transform: scale(1, 1);
        }
    }

    &__line__list {
        display: none;

        @include mq(ma) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 360px;
            height: 100vh;
        }
    }

    &__line1 {
        width: 100px;
        height: 500px;
        background-image: url(../images/main__about__img1.webp);
        background-position: -745px 850px;
        -webkit-background-clip: background;
        color: white;
        transform: skewX(-10deg);
    }

    &__line2 {
        width: 100px;
        height: 500px;
        background-image: url(../images/main__about__img1.webp);
        background-position: -875px 850px;
        -webkit-background-clip: background;
        color: white;
        transform: skewX(-10deg);
    }

    &__line3 {
        width: 100px;
        height: 500px;
        background-image: url(../images/main__about__img1.webp);
        background-position: -1005px 850px;
        -webkit-background-clip: background;
        color: white;
        transform: skewX(-10deg);
    }

    &__back__img1 {
        display: block;
        top: 500px;
        left: 200px;
        width: 160px;
        height: 360px;
        position: absolute;
        background-image: url(../images/Group\ 39.png);
        object-fit: cover;
        object-position: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 999;
    }

    &__back__img2 {
        @include mq(ss) {
            display: block;
            top: 1767px;
            right: 200px;
            width: 160px;
            height: 360px;
            position: absolute;
            background-image: url(../images/Group\ 39.png);
            object-fit: cover;
            object-position: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 100;
        }
    }

    &__back__img3 {
        display: block;
        top: 900px;
        right: 200px;
        width: 350px;
        height: 360px;
        position: absolute;
        background-image: url(../images/Group\ 41.png);
        object-fit: cover;
        object-position: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 999;
    }

    &__back__img4 {
        display: block;
        top: 900px;
        left: 200px;
        width: 380px;
        height: 360px;
        position: absolute;
        background-image: url(../images/Group\ 44.png);
        object-fit: cover;
        object-position: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 999;
    }

}


.main {

    &__background {
        top: 0px;
        left: -1240px;
        background-color: $color-accent;
        position: absolute;
        width: 54%;
        height: 1600px;
        transform: skewX(-10deg);
    }

    &__background2 {
        top: 1173px;
        left: -386px;
        background-color: $color-accent;
        position: absolute;
        width: 54%;
        height: 1000px;
        transform: skewX(-10deg);
    }

    &__background3 {
        top: 0px;
        left: -389px;
        background-color: $color-accent;
        position: absolute;
        width: 54%;
        height: 1000px;
        transform: skewX(-10deg);
    }

    &__outer1 {
        display: flex;
        position: relative;
        width: 100%;
        background-color: $color-bak;
        height: 1600px;
    }

    &__outer2 {
        width: 100%;
        background-color: $color-bak;
        height: 1000px;
        position: relative;
    }

    &__about {
        display: block;

        top: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include mq(ss) {
            top: -300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
        }

        &__cursor {
            width: 100px;
            height: 100px;
            position: absolute;
            z-index: 102;
        }

        &__in {
            position: relative;

            @include mq(ss) {
                width: 50%;
            }

            &__img {
                position: relative;
                top: 300px;
                left: -1100px;
                max-width: 500px;
                max-height: 500px;
                margin: 80px auto 50px auto;
                height: auto;
                object-fit: cover;
                object-position: left;
                z-index: 101;

                @include mq(ss) {
                    position: absolute;
                    top: 621px;
                    left: -1100px;
                    right: auto;
                    max-width: 500px;
                    max-height: 500px;
                    margin: 80px auto 50px auto;
                    width: 40vw;
                    height: 40vw;
                    object-fit: cover;
                    object-position: left;
                    z-index: 101;
                }
            }
        }

        &__text {
            top: 920px;
            position: absolute;
            margin-left: 3vw;


            @include mq(ss) {
                top: 821px;
                width: 50%;
                position: absolute;
                margin-left: 3vw;
                left: 50%;
            }

            &__title {
                font-size: 30px;
                color: #fefefe;
                font-weight: normal;
                margin-bottom: 30px;

                @include mq(ss) {
                    color: #21AEAE;
                }


                span {
                    font-size: 17px;
                    margin-left: 20px;

                    @include mq(ss) {
                        display: inline-block;

                    }
                }
            }

            &__1 {
                font-size: 20px;
                color: #fefefe;
                margin-bottom: 10px;

                @include mq(ss) {
                    font-size: 24px;
                }
            }

            &__2 {
                font-size: 20px;
                color: #fefefe;
                margin-bottom: 10px;

                @include mq(ss) {
                    font-size: 24px;
                }
            }

            &__3 {
                font-size: 20px;
                color: #fefefe;
                margin-bottom: 10px;

                @include mq(ss) {
                    font-size: 24px;
                }
            }
        }

        &__title {
            position: absolute;
            font-size: 80px;
            color: $color-White;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            font-family: "Julius Sans One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    }

    .main__works {
        &__title {
            position: absolute;
            font-size: 80px;
            color: $color-White;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            font-family: "Julius Sans One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        &__wrapper {
            max-width: 100vw;
            overflow: hidden;
            width: 100%;
            position: relative;
            height: 800px;
        }

        &__next,
        &__back {
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: 45%;
            transition: all 0.3s;
            z-index: 10;
        }

        &__next {
            right: 0;
        }

        &__next:hover {
            background-color: $color-White;
        }

        &__next::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            border-top: solid 3px $color-accent;
            border-right: solid 3px $color-accent;
            transform: rotate(45deg);
            position: absolute;
            right: 25px;
            top: 15px;
        }

        &__back {
            left: 0;
        }

        &__back:hover {
            background-color: $color-bak;
        }

        &__back::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            border-top: solid 3px $color-White;
            border-right: solid 3px $color-White;
            transform: rotate(-135deg);
            position: absolute;
            left: 25px;
            top: 15px;
        }

        .slider {
            width: 500vw;
            display: flex;
            margin: 0 auto;
        }

        .slider1 {
            transform: translateX(0);
            transition: all 0.3s;
        }

        .slider2 {
            transform: translateX(-100vw);
            transition: all 0.3s;
        }

        .slider3 {
            transform: translateX(-200vw);
            transition: all 0.3s;
        }

        .slider4 {
            transform: translateX(-300vw);
            transition: all 0.3s;
        }

        .slider5 {
            transform: translateX(-400vw);
            transition: all 0.3s;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 800px;
            width: 100%;
            max-width: 100vw;

            a {
                object-fit: cover;
                object-position: center;
                background-position: center;
                background-repeat: no-repeat;
                width: 80%;
                height: 80%;
                cursor: none;
            }
        }

        .content1 a {
            background-image: url(../images/apc1.webp);
        }

        .content2 a {
            background-image: url(../images/nkblog.webp);
        }

        .content3 a {
            background-image: url(../images/portfolio.webp);
        }

        .content4 a {
            background-image: url(../images/tenki.webp);
        }

        .content5 a {
            background-image: url(../images/nkblog-2.webp);
        }

        .indicator {
            width: 100%;
            position: absolute;
            bottom: 20px;
            display: flex;
            z-index: 10;
            justify-content: center;
            align-items: center;

            li {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                position: relative;
                list-style: none;
                border: 1px $color-accent solid;
                margin: 0 15px;

                &::after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    border: 1px $color-White solid;
                    border-radius: 50%;
                    position: absolute;
                    top: -9px;
                    left: -9px;
                    z-index: 9;
                }

                &.list1 {
                    background-color: $color-accent;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #fefefe;

    &__text {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 10px;
    }
}

//about

.about__header {
    background-color: #010101;
    height: 820px;

    &__title {
        position: absolute;
        font-size: 80px;
        color: #fefefe;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

.about__main {
    background-color: #010101;
    height: 1150px;

    &__img1 {
        display: none;

        @include mq(ss) {
            display: block;
            top: 1300px;
            right: 20px;
            width: 380px;
            height: 360px;
            position: absolute;
            background-image: url(../images/Group\ 41.png);
            object-fit: cover;
            object-position: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 98;
        }
    }

    &__img2 {
        display: none;

        @include mq(ss) {
            display: block;
            top: -50px;
            left: -800px;
            width: 1000px;
            height: 1000px;
            position: fixed;
            background-image: url(../images/Group\ 48.png);
            object-fit: cover;
            object-position: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 98;
        }
    }

    &__img {
        width: 80%;
        max-width: 570px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 220px;
        height: 700px;
        object-fit: cover;
        object-position: left;
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 99;

        @include mq(ss) {
            width: 50%;
        }

        @include mq(cent) {
            width: 40%;
        }
    }

    &__text {
        top: 1000px;
        position: absolute;
        left: 12%;
        width: 80%;
        max-width: 590px;


        &__title {
            font-size: 30px;
            color: $color-White;
            font-weight: normal;
            margin-bottom: 0px;


            @include mq(ss) {
                margin-bottom: 30px;
            }


            span {
                display: none;

                @include mq(ss) {
                    font-size: 17px;
                    display: inline-block;
                    margin-left: 20px;
                }
            }

            &__Eng {
                display: block;
                font-size: 17px;
                display: inline-block;
                color: $color-White;
                margin: 0;

                @include mq(ss) {
                    display: none;
                }
            }
        }

        &__1 {
            font-size: 20px;
            color: #fefefe;
            margin-bottom: 10px;

            @include mq(ss) {
                font-size: 24px;
            }
        }

        &__2 {
            font-size: 20px;
            color: #fefefe;
            margin-bottom: 10px;

            @include mq(ss) {
                font-size: 24px;
            }
        }

        &__3 {
            font-size: 20px;
            color: #fefefe;
            margin-bottom: 10px;

            @include mq(ss) {
                font-size: 24px;
            }
        }

        &__4 {
            font-size: 20px;
            color: $color-accent;
            margin-bottom: 10px;

            @include mq(ss) {
                font-size: 24px;
            }
        }

        &-link {
            display: block;
            cursor: none;
            max-width: 75px;
        }

        &__mobile {
            top: 1300px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            max-width: 590px;
            display: block;

            @include mq(md) {
                display: none;
            }

            &__sentence {
                margin-top: 40px;
                color: #fefefe;
                font-size: 18px;
                display: block;

                @include mq(mv) {
                    display: none;
                }
            }
        }
    }

    &__text__pc {
        @include mq(mv) {
            position: relative;
        }
    }

    &__textarea {
        display: none;

        &::before {
            content: "";

            @include mq(mv) {
                display: block;
                position: absolute;
                top: -8px;
                left: -8px;
                width: 62vw;
                height: 600px;
                border: 2px solid $color-White;
                z-index: 98;
                max-width: 810px;
            }
        }

        @include mq(mv) {
            display: block;
            position: absolute;
            top: 480px;
            left: 12%;
            width: 62vw;
            height: 600px;
            border: 2px solid $color-White;
            z-index: 99;
            max-width: 810px;
        }

        &__text {
            margin: 0;
            padding: 20px;
            font-size: 20px;
            color: $color-White;

            h3 {
                font-size: 28px;
                margin: 0;
                padding: 0;
                color: #21AEAE;
            }
        }
    }

    &__Btnlist {
        display: none;

        @include mq(mv) {
            display: block;
            position: absolute;
            top: 470px;
            right: 12%;
            width: 100%;
            height: 600px;
            max-width: 168px;
            z-index: 99;
        }

        @include mq(md) {
            right: 16%;
        }

        @include mq(ma) {
            right: 18%;
        }
    }

    &__Btn1 {
        position: absolute;
        width: 70px;
        height: 70px;
        top: 0;
        background-image: url(../images/Btn1.png);
        z-index: 100;

        &__text {
            color: $color-White;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 5px;
            left: 5px;
            width: 68px;
            height: 68px;
            background-image: url(../images/Btn1.png);
            transition: 0.3s ease;

            &:hover {
                top: 0px;
                left: 0px;
                width: 71px;
                height: 71px;
            }
        }
    }

    &__Btn2 {
        position: absolute;
        top: 0;
        left: 95px;
        width: 70px;
        height: 70px;
        background-image: url(../images/Btn1.png);
        z-index: 100;

        &__text {
            width: 72px;
            height: 42px;
            color: $color-White;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 5px;
            left: 5px;
            width: 70px;
            height: 70px;
            background-image: url(../images/Btn1.png);
            transition: 0.3s ease;

            &:hover {
                top: 0px;
                left: 0px;
                width: 71px;
                height: 71px;
            }
        }
    }

    &__Btn3 {
        position: absolute;
        top: 95px;
        left: 0;
        width: 70px;
        height: 70px;
        background-image: url(../images/Btn1.png);
        z-index: 100;

        &__text {
            width: 72px;
            height: 42px;
            color: $color-White;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 5px;
            left: 5px;
            width: 70px;
            height: 70px;
            background-image: url(../images/Btn1.png);
            transition: 0.3s ease;

            &:hover {
                top: 0px;
                left: 0px;
                width: 71px;
                height: 71px;
            }
        }
    }

    &__Btn4 {
        position: absolute;
        top: 95px;
        left: 95px;
        width: 70px;
        height: 70px;
        background-image: url(../images/Btn1.png);
        z-index: 100;

        &__text {
            width: 72px;
            height: 42px;
            color: $color-White;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 5px;
            left: 5px;
            width: 70px;
            height: 70px;
            background-image: url(../images/Btn1.png);
            transition: 0.3s ease;

            &:hover {
                top: 0px;
                left: 0px;
                width: 71px;
                height: 71px;
            }
        }
    }

    &__Btn5 {
        position: absolute;
        top: 190px;
        left: 0px;
        width: 70px;
        height: 70px;
        background-image: url(../images/Btn1.png);
        z-index: 100;

        &__text {
            width: 72px;
            height: 42px;
            color: $color-White;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 5px;
            left: 5px;
            width: 70px;
            height: 70px;
            background-image: url(../images/Btn1.png);
            transition: 0.3s ease;

            &:hover {
                top: 0px;
                left: 0px;
                width: 71px;
                height: 71px;
            }
        }
    }

    &__scroll {
        position: absolute;
        top: 215px;
        right: -100px;
        align-items: center;
        color: #fff;
        display: flex;
        height: 200px;
        line-height: 40px;
        overflow: hidden;
        width: 200%;
        white-space: nowrap;
        z-index: 1;
        opacity: 0.2;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        transform: rotateZ(-0deg);

        &__2 {
            position: absolute;
            top: 470px;
            right: -200px;
            align-items: center;
            color: #fff;
            display: flex;
            height: 200px;
            line-height: 40px;
            overflow: hidden;
            width: 200%;
            white-space: nowrap;
            z-index: 1;
            opacity: 0.2;
            font-family: "Julius Sans One", sans-serif;
            font-weight: 400;
            font-style: normal;
            transform: rotateZ(0deg);
        }

        &__3 {
            position: absolute;
            top: 740px;
            right: -600px;
            align-items: center;
            color: #fff;
            display: flex;
            height: 200px;
            line-height: 40px;
            overflow: hidden;
            width: 200%;
            white-space: nowrap;
            z-index: 1;
            opacity: 0.2;
            font-family: "Julius Sans One", sans-serif;
            font-weight: 400;
            font-style: normal;
            transform: rotateZ(-180deg);
        }
    }

    &__scroll ul {
        animation: flowing 100s linear infinite;
        font-size: 150px;
        transform: translateX(100%);
        margin: 0;
        padding: 0 0 0 40px;
    }

    &__scroll__2 ul {
        animation: flowing2 100s linear infinite;
        font-size: 150px;
        transform: translateX(-100%);
        margin: 0;
        padding: 0 0 0 40px;
    }

    &__scroll__3 ul {
        animation: flowing 100s linear infinite;
        font-size: 150px;
        transform: translateX(100%);
        margin: 0;
        padding: 0 0 0 40px;
    }


    &__scroll ul li {
        display: inline-block;
        padding-right: 10px;
    }

    &__scroll__2 ul li {
        display: inline-block;
        padding-right: 10px;
    }

    &__scroll__3 ul li {
        display: inline-block;
        padding-right: 10px;
    }

    @keyframes flowing {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes flowing2 {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }

}

//works

.works__header {
    background-color: #010101;
    height: 220px;

    &__title {
        position: absolute;
        font-size: 80px;
        color: #fefefe;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;

        &_wor {
            margin-right: 0.07em;
        }

        &_k {
            letter-spacing: 0.1em;
        }
    }
}

.works__main {
    background-color: #010101;

    &__inner {
        @include inner();
    }

    &__content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;

        a {
            cursor: none;
        }
    }

    &__img {
        object-fit: cover;
        object-position: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        max-height: 500px;
    }

    &__title {
        text-align: center;
        color: $color-White;
        font-size: 25px;
        font-weight: normal;

        &__sub {
            text-align: center;
            color: $color-White;
        }
    }

    &__individual {
        background-color: #010101;

        &__inner {
            @include inner();
            padding-bottom: 60px;
        }

        &__img {
            margin-left: auto;
            margin-right: auto;
        }

        &__table {
            color: $color-White;
            margin-left: auto;
            margin-right: auto;
            margin-top: 90px;
            max-width: 1000px;
            width: 100%;

            tbody {
                td {
                    border: 2px solid $color-White;
                    border-collapse: collapse;
                    padding: 15px;
                }
            }

            &__url {
                &__2 {
                    &__link {
                        color: $color-accent;
                        border-bottom: $color-accent 1px solid;
                        cursor: none;
                    }
                }
            }
        }

        &__text {
            color: $color-White;
            margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
            width: 100%;

            &__h2 {
                margin-top: 50px;
                margin-bottom: 15px;

                span {
                    border-bottom: $color-accent 3px solid;
                    display: inline-block;
                }

                &__secondary {
                    font-size: 1.2rem;

                    span {
                        display: inline-block;
                    }
                }
            }
        }
    }

}