@charset "utf-8";

$color-bak: #010101;
$color-White: #fefefe;
$color-accent: #21AEAE;


$breakpoints: (
    "xmin": "screen and (min-width: 320px)",
    "min": "screen and (min-width: 300px)",
    "sm": "screen and (min-width: 420px)",
    "ss": "screen and (min-width: 610px)",
    "cnt": "screen and (min-width: 800px)",
    "cent":"screen and (min-width: 1000px)",
    "mp":"screen and (min-width: 1112px)",
    "md": "screen and (min-width: 1366px)",
    "mm": "screen and (min-width: 1200px)",
    "ma": "screen and (min-width: 1400px)",
    ) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin inner($w: (1200/1280)*100%, $mw: 2000px) {
    width: min($w, $mw
    );
margin-left: auto;
margin-right: auto;
}

@mixin flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


body {
    margin: 0;
}

.header {
    background-color: $color-bak;
    height: 157vh;

    &__inner {
        @include inner();
    }

    &__flex {
        @include flex();

        @include mq(ss) {
            @include flex();
            width: 90%;
        }
    }

    &__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;

        @include mq(ss) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 100vh;
        }

        @include mq(cent) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 100vh;
        }
    }

    &__title1 {
        //background-image: url(../images/main__about__img1.webp);
        //background-position: bottom -638px left;
        //-webkit-background-clip: text;
        color: white;
        //文字色を白色(不透明)にする：IE用
        //-webkit-text-fill-color: transparent;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
        letter-spacing: -0.04em;
        line-height: 1;

        @include mq(sm) {
            font-size: 4em;
        }

        @include mq(ss) {
            font-size: 6em;
        }

        @include mq(cent) {
            font-size: 8em;
        }
    }

    &__title2 {
        //background-image: url(../images/main__about__img1.webp);
        //background-position: bottom -543px left;
        //-webkit-background-clip: text;
        color: $color-White;
        /* 文字色を白色(不透明)にする：IE用 */
        //-webkit-text-fill-color: transparent;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
        letter-spacing: -0.05em;
        line-height: 1;

        @include mq(sm) {
            font-size: 4em;
        }

        @include mq(ss) {
            font-size: 6em;
        }

        @include mq(cent) {
            font-size: 8em;
        }
    }

    &__title3 {
        //background-image: url(../images/main__about__img1.webp);
        //background-position: bottom -420px left;
        //-webkit-background-clip: text;
        color: white;
        /* 文字色を白色(不透明)にする：IE用 */
        // -webkit-text-fill-color: transparent;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
        letter-spacing: -0.05em;
        line-height: 1;

        @include mq(sm) {
            font-size: 4em;
        }

        @include mq(ss) {
            font-size: 6em;
        }

        @include mq(cent) {
            font-size: 8em;
        }
    }

    &__gnav {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 100;
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../images/hamberger_bakg.png);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__list {
            z-index: 100;
        }

        span {
            display: block;
            width: 30px;
            height: 4px;
            background-color: $color-accent;
            margin: 4px 0;
            transition: transform 0.3s ease;
        }
    }

    &__menu {
        position: fixed;
        top: 0px;
        right: -100%;
        /* Initially hide the menu off the screen */
        width: 200px;
        height: 100vh;
        background-color: $color-White;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 99;
        transition: right 0.3s ease;
    }

    &__menu.active {
        right: 0;
    }

    &__menu ul {
        padding: 0;
        margin-top: 22px;
    }

    &__menu li {
        margin-bottom: 10px;
    }

    &__menu a {
        color: #333;
        font-size: 18px;
        text-decoration: none;
    }

    &__line__list {
        display: none;

        @include mq(ma) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 360px;
            height: 100vh;
        }
    }

    &__line1 {
        width: 100px;
        height: 500px;
        background-image: url(../images/main__about__img1.webp);
        background-position: -745px 850px;
        -webkit-background-clip: background;
        color: white;
        /* 文字色を白色(不透明)にする：IE用 */
        transform: skewX(-10deg);
    }

    &__line2 {
        width: 100px;
        height: 500px;
        background-image: url(../images/main__about__img1.webp);
        background-position: -875px 850px;
        -webkit-background-clip: background;
        color: white;
        /* 文字色を白色(不透明)にする：IE用 */
        transform: skewX(-10deg);
    }

    &__line3 {
        width: 100px;
        height: 500px;
        background-image: url(../images/main__about__img1.webp);
        background-position: -1005px 850px;
        -webkit-background-clip: background;
        color: white;
        /* 文字色を白色(不透明)にする：IE用 */
        transform: skewX(-10deg);
    }

    &__back__img1 {
        display: block;
        top: 500px;
        left: 200px;
        width: 160px;
        height: 360px;
        position: absolute;
        background-image: url(../images/Group\ 39.png);
        object-fit: cover;
        object-position: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 999;
    }

    &__back__img2 {

        @include mq(ss) {
            display: block;
            top: 1767px;
            right: 200px;
            width: 160px;
            height: 360px;
            position: absolute;
            background-image: url(../images/Group\ 39.png);
            object-fit: cover;
            object-position: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 100;
        }
    }
}

.main {
    &__background {
        top: 0px;
        left: -1200px;
        background-color: $color-accent;
        position: absolute;
        width: 54%;
        height: 156vh;
        transform: skewX(-10deg);
    }

    &__background2 {
        top: 1316px;
        left: -352px;
        background-color: $color-accent;
        position: absolute;
        width: 54%;
        height: 156vh;
        transform: skewX(-10deg);
    }

    &__outer1 {
        display: flex;
        position: relative;
        width: 100%;
        background-color: $color-bak;
        height: 200vh;
    }

    &__outer2 {
        width: 100%;
        background-color: $color-bak;
        height: 150vh;
        position: relative;
    }

    &__about {
        display: block;

        top: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include mq(ss) {
            top: -300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
        }

        &__in {
            @include mq(ss) {
                width: 50%;
            }

            &__img {
                position: relative;
                top: 300px;
                left: -1100px;
                max-width: 500px;
                max-height: 500px;
                margin: 80px auto 50px auto;
                height: auto;
                object-fit: cover;
                object-position: left;
                z-index: 101;

                @include mq(ss) {
                    position: absolute;
                    top: 621px;
                    left: -1100px;
                    right: auto;
                    max-width: 500px;
                    max-height: 500px;
                    margin: 80px auto 50px auto;
                    width: 40vw;
                    height: 40vw;
                    object-fit: cover;
                    object-position: left;
                    z-index: 101;
                }
            }
        }

        &__text {
            top: 920px;
            position: absolute;
            margin-left: 3vw;


            @include mq(ss) {
                top: 821px;
                width: 50%;
                position: absolute;
                margin-left: 3vw;
                left: 50%;
            }

            &__title {
                font-size: 30px;
                color: #21AEAE;
                font-weight: normal;
                margin-bottom: 30px;


                span {
                    font-size: 17px;

                    @include mq(ss) {
                        display: inline-block;
                        margin-left: 20px;
                    }
                }
            }

            &__1 {
                font-size: 20px;
                color: #fefefe;
                margin-bottom: 10px;

                @include mq(ss) {
                    font-size: 24px;
                }
            }

            &__2 {
                font-size: 20px;
                color: #fefefe;
                margin-bottom: 10px;

                @include mq(ss) {
                    font-size: 24px;
                }
            }

            &__3 {
                font-size: 20px;
                color: #fefefe;
                margin-bottom: 10px;

                @include mq(ss) {
                    font-size: 24px;
                }
            }
        }

        &__title {
            position: absolute;
            font-size: 80px;
            color: $color-White;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            // font-family: "Julius Sans One", sans-serif;
            // font-weight: 400;
            // font-style: normal;
        }
    }

    &__works {

        &__title {
            position: absolute;
            font-size: 80px;
            color: $color-White;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
        }

        &__wrapper {
            max-width: 100vw;
            overflow: hidden;
            width: 100%;
            position: relative;
            height: 800px;
        }

        &__next {
            width: 60px;
            height: 60px;
            position: absolute;
            right: 0;
            bottom: 45%;
            transition: all 0.3s;
            z-index: 10;
            cursor: pointer;
        }

        &__next::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            border-top: solid 3px $color-accent;
            border-right: solid 3px $color-accent;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            right: 25px;
            top: 15px;
        }

        &__next:hover {
            background-color: #fff;
            transition: all 0.3s;
        }

        &__back {
            width: 60px;
            height: 60px;
            position: absolute;
            left: 0;
            bottom: 45%;
            transition: all 0.3s;
            z-index: 10;
            cursor: pointer;
        }

        &__back::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            border-top: solid 3px $color-accent;
            border-right: solid 3px $color-accent;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            position: absolute;
            left: 25px;
            top: 15px;
        }

        &__back:hover {
            background-color: #fff;
            transition: all 0.3s;
        }

        .slider {
            width: 400vw;
            display: flex;
            margin: 0 auto;
        }

        .slider1 {
            transform: translateX(0);
            transition: all 0.3s;
        }

        .slider2 {
            transform: translateX(-100vw);
            transition: all 0.3s;
        }

        .slider3 {
            transform: translateX(-200vw);
            transition: all 0.3s;
        }

        .slider4 {
            transform: translateX(-300vw);
            transition: all 0.3s;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 800px;
            width: 100%;
            max-width: 100vw;

            p {
                text-align: center;
            }
        }

        .content1 {
            // width: 100%;
            // max-width: 81vw;
            object-fit: cover;
            object-position: center;
            background-position: center;
            background-repeat: no-repeat;
            //background-color: #ededed;
            background-image: url(../images/apc1.webp);
        }

        .content2 {
            // width: 100%;
            // max-width: 119vw;
            object-fit: cover;
            object-position: center;
            background-position: center;
            background-repeat: no-repeat;
            //background-color: #cfcfcf;
            background-image: url(../images/apc1.webp);
        }

        .content3 {
            // width: 100%;
            // max-width: 81vw;
            object-fit: cover;
            object-position: center;
            background-position: center;
            background-repeat: no-repeat;
            //background-color: #9c9c9c;
            background-image: url(../images/apc1.webp);
        }

        .content4 {
            // width: 100%;
            // max-width: 119vw;
            object-fit: cover;
            object-position: center;
            background-position: center;
            background-repeat: no-repeat;
            //background-color: #636363;
            background-image: url(../images/apc1.webp);
        }

        .indicator {
            width: 100%;
            position: absolute;
            bottom: 20px;
            display: flex;
            z-index: 10;
            justify-content: center;
            align-items: center;
        }

        li {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: relative;
            list-style: none;
            border: 1px $color-accent solid;
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;
        }

        li:after {
            content: "";
            width: 20px;
            height: 20px;
            border: 1px $color-White solid;
            border-radius: 50%;
            position: absolute;
            top: -9px;
            left: -9px;
            z-index: 9;
        }

        .list1 {
            background-color: $color-accent;
        }
    }
}